html {
  height: 100%;
  background: #033;
}
body {
  background: #033 url(./Star-field-hubble-deep.jpg) center center;
  height: 100%;
  margin: 0;
  position: relative;
}

header {
  margin: 0;
  display: inline-block;
  position: fixed;
  bottom: 2em;
  right: 4em;
}

h1 {
  margin: 0;
  letter-spacing: 2px;
  color: #033;
  font: 4em/1.25em "Abril Fatface", serif;
  text-shadow: 2px 2px 7px #fff;
}
